<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Power Monitor</title>
</head>
<body>
    <h1>Add a User to Power Monitor</h1>

    {% if registered %}
    <p><strong>Thank you for registering!</strong></p>
    {% else %}
    <p><strong>Register Here!</strong></p>
    <fieldset>
        <legend>User Registration</legend>
        <form id="user_form" method="post" action="/powermonitorweb/add_user/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" name="submit" value="Add User" />
        </form>
    </fieldset>
    {% endif %}
</body>
</html>