<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <script type="text/javascript" src="{% static '/static/powermonitorweb/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static '/static/powermonitorweb/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static '/static/powermonitorweb/scripts.js' %}"></script>
        <link rel="shortcut icon" type="image/png" href="{% static '/static/powermonitorweb/images/icon.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/static/powermonitorweb/plugins/jquery.datetimepicker.css' %}"/>
        <link  rel="stylesheet" type="text/css" href="{% static '/static/powermonitorweb/mainstyle.css' %}"/>
        <title>Power Monitor - {% block title %}Intelligent Power Monitoring{% endblock %}</title>
    </head>
    <body>
        <div id="content_wrapper">
            <div id="main">
                <div id="imageholder">
                    <a href="/powermonitorweb/" id="homepage-link"><h1>Power Monitor</h1></a>
                    <ul id="bar">
                        <li class="pull-left">
                            <a href="/powermonitorweb/graphs/">
                                <div class="pull-left">
                                    <img class="icon" alt=""  src="{% static '/static/powermonitorweb/images/graphs_icon.svg' %}" />
                                </div>
                                <div class="pull-left bar-heading">Graphs</div>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="#">
                                <div class="pull-left">
                                    <img class="icon" alt=""  src="{% static '/static/powermonitorweb/images/food_icon.svg' %}" />
                                </div>
                                <div class="pull-left bar-heading">Food</div>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="/powermonitorweb/manage_alerts/">
                                <div class="pull-left">
                                    <img class="icon" alt=""  src="{% static '/static/powermonitorweb/images/alerts_icon.svg' %}" />
                                </div>
                                <div class="pull-left bar-heading">Alerts</div>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="/powermonitorweb/manage_reports/">
                                <div class="pull-left">
                                    <img class="icon" alt=""  src="{% static '/static/powermonitorweb/images/reports_icon.svg' %}" />
                                </div>
                                <div class="pull-left bar-heading">Reports</div>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="/powermonitorweb/manage_social_media/">
                                <div class="pull-left">
                                    <img class="icon" alt=""  src="{% static '/static/powermonitorweb/images/social_icon.svg' %}" />
                                </div>
                                <div class="pull-left bar-heading">Social</div>
                            </a>
                        </li>
                        {% if user.is_superuser %}
                        <li class="pull-left">
                            <a href="/powermonitorweb/manage_users/">
                                <div class="pull-left">
                                    <img class="icon" alt=""  src="{% static '/static/powermonitorweb/images/users_icon.svg' %}" />
                                </div>
                                <div class="pull-left bar-heading">Users</div>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- source: http://www.turbophoto.com/Free-Images/tag/polar-bear/ -->
                    <img id="lizard" alt="monitor lizard" height="165" src="{% static '/static/powermonitorweb/images/MonitorLizard.png' %}" />
                </div>
                <div id="userdetails">
                    <div class="pull-right marginfive">Welcome, <span id="username">{{user.first_name}}<span class="caret" id="downarrow"></span></span>
                        <div id="usermenu">
                            <ul>
                                <li><a href="/powermonitorweb/profile/">Change Profile</a></li>
                                <li><a href="/powermonitorweb/logout/">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                {%block main %}
                {% endblock %}
                
            </div>
            <div id="push"></div><!-- for the footer to stay at the bottom of the page -->
        </div>
        <div id="footer">
            <small>
                {% block footer %}
                Copyright &copy; EcoBerry 2014
                {% endblock %}
            </small>
        </div>
    </body>
</html>

