<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Power Monitor - {% block title %}Intelligent Power Monitoring{% endblock %}</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>{% block header %}Welcome to Power Monitor{% endblock %}</h1>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="/powermonitorweb/logout/">Logout</a></li>
                {% else %}
                <li><a href="/powermonitorweb/login/">Login</a></li>
                {% endif %}
            </ul>
        </header>
        <div id="main">
            {% block main %}

            {% endblock %}
        </div>
        <footer>
            {% block footer %}
            Copyright &copy; EcoBerry 2014
            {% endblock %}
        </footer>
    </div>
</body>
</html>