{% extends 'powermonitorweb/base.html' %}
{% block title %}Change Password{% endblock %}

{% block header %}Change Password{% endblock %}
{% block main %}
    <div class="group">
        <div class="heading"><h3>Change Password</h3></div>
        <form method="post" action=".">
        {% csrf_token %}
        <div class="listform">
            {{ form.as_p }}
            <a href="/powermonitorweb/profile/">Go back</a>
        </div>
        <div class="buttons">
            <input class ="button" type="submit" value="Change" />
        </div>
    </form>
    </div>
{% endblock %}