{% extends 'powermonitorweb/base.html' %}
{% block title %}Change Password{% endblock %}

{% block header %}Change Password{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Change Password</h3></div>
        <form class="panel-body" method="post" action=".">
            {% csrf_token %}
            <div class="listform">
                {{ form.as_p }}
            </div>
            <div class="listform">
                <p>
                    <a class="form-right" href="/powermonitorweb/profile/">Go back</a>
                </p>
                <p>
                    <input class="btn btn-success form-right" type="submit" value="Change" />
                </p>
            </div>
        </form>
    </div>
{% endblock %}