{% extends 'powermonitorweb/base.html' %}
{% load staticfiles %}
{% block title %}Graphs{% endblock %}

{% block header %}Usage Graphs{% endblock %}
{% block main %}
    <script src="{% static '/static/powermonitorweb/scripts/graphs.js' %}" ></script>
    <div class="group">
        <div id="heading"><h3>Graphs</h3></div>
        <div>
            Select the period you wish to view:
            {{ graph_period_form.as_p }}
        </div>
        <div id="graphdiv">
            {% if graph != 'null' %}
            <img src="{{ STATIC_URL }}powermonitorweb/images/graphs/{{ graph }}" alt="" width="80%" height="80%"/>
            {% else %}
            <strong>No graph found. There may not be any data to graph. Try another period to display</strong>
            {% endif %}
        </div>
    </div>
{% endblock %}