{% extends 'powermonitorweb/login_base.html' %}
{% block title %}Login {% endblock %}

{% block main %}
<h1>Sign in</h1>
      <form id="login_form" method="post" action="/powermonitorweb/login/">
            {% csrf_token %}
          <div class="formlayout">
            <p><label for="username">Username:</label>
            <input type="text" name="username" id="username"></input></p>
            <p><label for="passwd">Password:</label>
            <input type="password" name="password" id="passwd"></input></p>
            <p>
                <a href="/powermonitorweb/reset_password/">Forgot your password?</a>
            </p>
          </div>
          <input class="button" type="submit" value="Login"></input>
      </form>
{% endblock %}