{% extends 'powermonitorweb/login_base.html' %}
{% block title %}Login {% endblock %}

{% block main %}
<h2>Sign in:</h2>
      <form id="login_form" method="post" action="/powermonitorweb/login/">
            {% csrf_token %}
            <br><label for="username">Username:</label>
            <br><input type="text" name="username" placeholder="username" id="username"></input>
            <br><label for="passwd">Password:</label>
            <br><input type="password" placeholder="password" name="password" id="passwd"></input>
            <br><input id="login" type="submit" value="Login"></input>
      </form>
{% endblock %}