{% extends 'powermonitorweb/base.html' %}
{% load staticfiles %}
{% block title %}Manage Users{% endblock %}

{% block header %}Manage Powermonitor Users{% endblock %}
{% block main %}
    <script src="{% static '/static/powermonitorweb/scripts/manage_users.js' %}" ></script>
    {% if failed %}
    <strong>Something went wrong updating user.</strong>
    {% else %}
    {% if posted %}
    <strong>User settings saved!</strong>
    {% else %}
    <div class="group">
        <div class="heading"><h3>Manage Users</h3></div>
        <form id="manage_users_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="mini_menu">
            <ul>
                <li id="manage_users">Manage Users</li>
                <li id="add_users">Add Users</li>
            </ul>
        </div>
        <div id="manage_form" class="listform">
            <div class="floatleft">
                <div class="listlayout">
                    <h2>All Users</h2>
                    {{ user_list_form.as_p }}
                    <br /><input type="button" class="button" id="delete_user" name="delete" value="Delete User" />
                </div>
            </div>
            <div class="floatright">
                <div class="formlayout">
                <h2>Selected User</h2>
                    {{ manage_users_form.as_p }}
                    {{ manage_users_form.errors }}
                    <br/>
                 <input class="button" type="button" id="update_user" name="add" value="Update" /><br />
                 <small>Send user email to reset password</small>
                <input class="button" type="button" id="reset_password" name="reset_password" value="Reset Password">
                </div>
            </div>
        </div>

    </form>
        <div id="add_form" class="listform">
            <form id="add_users_form" method="post" action="/powermonitorweb/manage_users/" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="floatcenter">
                {{ add_user_form.as_p }}
                <input type="submit" name="submit" value="Add User" />
            </div>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% if user_added %}
    <script>alert('User Added!');</script>
    {% endif %}
{% endblock %}