{% extends 'powermonitorweb/base.html' %}
{% block title %}Manage Reports{% endblock %}

{% block header %}Manage Your Daily Reports{% endblock %}
{% block main %}
    {% if failed %}
    <strong>Something went wrong saving your report profile.</strong>
    {% else %}
    {% if posted %}
    <strong>Report settings saved!</strong>
    {% else %}
    <div class="group">
        <div id="heading"><h3>Manage Reports</h3></div>
    <form id="manage_reports_form" method="post" action="/powermonitorweb/manage_reports/" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="reports_list_div">
            {{ report_type_form.as_p }}
            {{ report_details_form.as_p }}
        </div>
        <div id="button_div">
            <input type="button" id="add_to_chosen" name="add" value="Add" />
            <input type="button" id="remove_from_chosen" name="remove" value="Remove" />
            <input type="submit" name="submit" value="Submit" />
        </div>
    </form>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}