{% extends 'powermonitorweb/base.html' %}
{% load staticfiles %}
{% block title %}Manage Users{% endblock %}

{% block header %}Manage Powermonitor Users{% endblock %}
{% block main %}
    <script src="{% static '/static/powermonitorweb/scripts/manage_users.js' %}" ></script>
    {% if failed %}
    <strong>Something went wrong updating user.</strong>
    {% else %}
    {% if posted %}
    <strong>User settings saved!</strong>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Manage Users</h3></div>
        <form class="panel-body fillparenttarget" id="manage_users_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="manage_form" class="pull-left col-xs-6 fillparent">
                <div class="panel panel-primary listlayout">
                    <div class="panel-heading"><h2>All Users</h2></div>
                    <p class="panel-body">{{ user_list_form.users }}
                        <input type="button" class="btn btn-success" id="add_user" name="add" value="Add User" />
                        <input type="button" class="btn btn-danger" id="delete_user" name="delete" value="Delete User" />
                    </p>
                </div>
            </div>
            <div class="pull-left col-xs-6 fillparent">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2>Selected User</h2></div>
                    <div class="miniform panel-body">
                        {{ manage_users_form.as_p }}
                        {{ manage_users_form.errors }}
                        <input class="btn btn-primary form-right" type="button" id="update_user" name="add" value="Update" /><br />
                        <br/>
                        <p>
                            <label for="reset_password">Send password reset email</label>
                            <input class="btn btn-warning" type="button" id="reset_password" name="reset_password" value="Reset Password" />
                        </p>
                    </div>
                </div>
            </div>
        </form>
    <!-- not sure what this is...
        <div id="add_form" class="listform">
            <form id="add_users_form" method="post" action="/powermonitorweb/manage_users/" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="floatcenter">
                {{ add_user_form.as_p }}
                <input type="submit" name="submit" value="Add User" />
            </div>
            </form>
        </div>-->
    </div>
    {% endif %}
    {% endif %}
    {% if user_added %}
    <script>alert('User Added!');</script>
    {% endif %}
{% endblock %}