{% extends 'powermonitorweb/base.html' %}
{% block title %}Profile{% endblock %}

{% block header %}Change Your Profile{% endblock %}
{% block main %}
    {% if failed %}
    <strong>Something went wrong saving your profile.</strong>
    {% else %}
        {% if posted %}
            <strong>Profile saved!</strong>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Manage Profile</h3></div>
                <form class="panel-body" method="post" action="/powermonitorweb/profile/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="listform">
                        {{ profile_form.as_p }}
                    </div>
                    <div class="listform">
                        <p>
                            <a class="form-right" href="/powermonitorweb/change_password/">Change Password</a>
                        </p>
                        <p>
                            <input class="btn btn-success form-right" type="submit" name="submit" value="Save Changes" />
                        </p>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
