{% extends 'powermonitorweb/login_base.html' %}
{% block title %}Setup Household Profile{% endblock %}

{% block main %}
    <h1>Setup the Household Profile</h1>

    {% if setup %}
    <p><strong>Setup complete!</strong></p>
    <a href="/powermonitorweb/">Return to home page</a>
    {% else %}
    <!--<p><strong>Register Here!</strong></p>-->
        <form id="household_form" method="post" action="/powermonitorweb/setup_household/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="formlayout">
            {{ setup_homeowner_form.as_p }}

            <!--<p> Don't think this should go here. It's hard to arrange around and it already has a dedicated page
                            <p>Food choices:</p>
                <select name="food_select" size="5" multiple required>
                    {% for item in food_list %}
                    <option value="{{ item.food_description }}">{{ item.food_description }}</option>
                    {% endfor %}
                </select>
            </p>-->



            </div>
            <p>Electricity Type:</p>
            <p>
                <input type="radio" name="electricity_type" value="prepaid" required />Prepaid
                <input type="radio" name="electricity_type" value="postpaid" required />Postpaid
            </p>
            <input type="submit" name="submit" value="Add User" class="button"/>
        </form>
    {% endif %}
{% endblock %}