{% extends 'powermonitorweb/login_base.html' %}
{% block title %}Setup Household Profile{% endblock %}

{% block main %}
    <h1>Setup the Household Profile</h1>

    {% if setup %}
    <p><strong>Setup complete!</strong></p>
    <a href="/powermonitorweb/">Return to home page</a>
    {% else %}
    <!--<p><strong>Register Here!</strong></p>-->
        <form id="household_form" method="post" action="/powermonitorweb/setup_household/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="formlayout">
            {{ setup_homeowner_form.as_p }}
            <p>
                <label>Electricity Type:</label>
                <input type="radio" name="electricity_type" value="prepaid" required />Prepaid <br/>
                <input type="radio" name="electricity_type" value="postpaid" required />Postpaid
            </p>
            </div>
            <input type="submit" name="submit" value="Add User" class="button"/>

        </form>
    {% endif %}
{% endblock %}