{% include '_header.html' }
    <div id="header">
        <h1>{{ title }}</h1>
    </div>
    <div id="section">
        <p>Hello {{ name }},</p>
        <p>Power Alert Issued</p>
        <p>Eskom have issued a {{ power_alert_status }} power alert. You're currently using {{ power_current }}kW of electricity.</p>
        <p>Your peak usage over the last hour was {{ power_peak }}kW</p>
        
        <p>Here's a graph of your usage history:</p>
        <a href="http://local-ip-address{{ reporting_url }}"> <!-- TODO: find out domain name/ip of pi -->
            <img src="{{ graph_url }}" alt="Electricity usage graph" />
        </a>
        
        <p>Some things you can do to save electricity:</p>
        <ul>
        {% for tip in tips %}
            <li>{{ tip.tip_description }}</li>
        {% endfor %}
        </ul>
    </div>
{% include '_footer.html' }