#lizard
{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 200px;
}

#graphholder
{
    width: 90%;
    display: block;
    margin: auto;
}

#graph
{
    
    background-color: white;
    height: 300px;
    border: solid black 1px;

}

body
{
    font-family: sans-serif;
    background-image: url("images/triangular.png");
    margin: 0px;
    padding: 0px;
}

.formlayout
{
    width: 100%;
    text-align: left;
    margin: 0px auto 15px 0px;
}

.formlayout input[type=text],input[type=password],input[type=email]
{
    width: 100%;
    height: 20px;
}

.formlayout select
{
    width: 100%;
}

.formlayout p
{
      margin: 8px 0px;
}

.listlayout p
{
      margin: 8px 0px;
}
.listlayout select
{
    width: 100%;
    height: 100%;
}

.listlayout
{
    width: 90%;
}

.west
{
    display: block;
    width: 33%;
    float:left;
    height: 100%;
}


.center
{
    display: block;
    width: 66%;
    float: left;
}

.button
{
    width: 120px;
    height: 30px;
    display:block;
    margin: auto;
}

.buttons
{
    width: 100%;
    display:block;
    float: left;
    margin-bottom: 20px;
}

div#main
{
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    margin-top: 45px;
    width: 1000px;
    background-color: /*#e02927;*/#CCCBCB;
    overflow: visible;
    box-shadow: -5px 5px 10px #888888;
}

#formholder
{
    border-radius: 5px;
    width: 260px;
    border: solid grey 1px;
    height: 300px;
    text-align: center;
}

div.group
{
    overflow: auto;
    border-radius: 3px;
    margin-top: 15px;
    background-color:  #ede9e3 ;
    box-shadow: 0 0 10px #AAAAAA ;
}

div#container
{

    display: block;
    margin: 10px 5%;
}

#confirm
{
    text-align: center;
}

.grid div
{
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: white;
    display: block;
    border-radius: 20px;
    text-align: center;
}

.grid h2
{
   /* padding: 5px;*/
}

.grid
{
    width: 25%;
    height: 200px;
    display: block;
    float: left;
}

ul#bar
{
    list-style-type: none;
    margin: 0px;
    margin-left: 14px;
    padding: 0px;    
}

#bar li
{
    text-shadow: 2px 2px 3px #1c3959;
    font-size: 20px;
    padding-top: 0px;
    display: inline-block;
    text-align: center;
    /*no borders*/
    padding: 0px 7px;
    /*Right border?*/
    /*padding: 0px 10px 0px 2px;
    border-right: solid white 1px;*/
    color: white;
}

#subBar {
	clear: both;
}

#bar li a:link, #bar li a:visited {
	display:block;
	text-decoration:none;
	/*background-color:#ede9e3;*/
	margin:0;
}

#bar li a:hover {
	/*background-color:#0CF;*/
}

#bar li ul {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	z-index: 5000;
}

#bar li ul li {
	font-size: 12px;
	display: inline;
}

#bar li ul li a:link, #bar li ul li a:visited {
	width:auto;
	/*background-color:#09F;*/
}

#bar li ul li a:hover {
	/*background-color:#0CF;*/
}

div#imageholder
{
    border-radius: 10px 10px 0px 0px;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    overflow: visible;
    background-color: #2a5382;
    height: 120px;
}

h2
{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.floatright
{
    display: block;
    float:right;
}

.floatleft
{
    display: block;
    float:left;
}

.half
{
    width: 50%;
}

.listform
{
    border: solid black 1px;
    border-radius: 5px;
    padding: 30px 100px;
    margin: 20px 80px;
    display: block;
    overflow: auto;
}

.listform .floatleft
{
    width: 45%;
}

.listform .floatright
{
    width: 45%;
}

h3
{
  /*  text-shadow: 1px 1px 1px #1c3959;**/
    font-size: 20px;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

.wrapper_y
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper_x
{
    padding-left: 30px;
    padding-right: 30px;

}

#heading
{
    background-color: #7FB0E7;
    text-align: center;
       
}

#userdetails
{
    height: 30px;    
    background-color: #243A69;
    position: relative;
}

#usermenu
{
    right: 0px;
    top: 100%;
    position: absolute;
    width: 150px;
    background-color: #19294B;
    text-align: left;
    box-shadow: -2px 2px 2px black;
}

#usermenu li
{
    list-style-type : none;
    padding: 3px 0px 3px 20px;
}

#usermenu ul
{
    margin: 8px 0px;
    padding: 0px;
}

#usermenu li:hover
{
    background-color: orange;
}

#usermenu a
{
    color: white;
    text-decoration: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.icon
{
    
    margin: 0px 3px 0px 0px;
}

#downarrow
{
    margin: -2px 4px 2px 3px;

}

h1
{
    text-shadow: 2px 2px 3px #1c3959;
    padding-top: 10px;
    padding-left: 20px;
    margin: 0px;
    font-size: 40pt;
    color: white;
/* font-family: "Courier New";*/
}

#username
{
    color: #CBCFEB;
    text-shadow: 2px 2px 3px #000000;
    cursor: pointer;
}

.marginfive
{
    margin: 5px;
}

div#footer
{
    margin-top: 15px;
    background-color: #243A69;
    text-align: center;
    height: 30px;
    color: white;
}

option[data-enabled]
{
    color: green;
}

#tableholder
{
    background-color: #a3bdd6;
    width: 100%;
}

#scrollbox
{
    border-radius: 5px;
    overflow-y:scroll;
    width: 260px;
    background-color: #bad5ef;
    height: 300px;
}

#tableholder td
{
    padding: 5px;
}

#tableholder tr:nth-child(even)
{
    background-color: #8fadc9;
}

a
{
   color: inherit;
}

}
.half
{
    text-align: center;
    float: left;
    width: 50%;
}

li {
	color: Red;
}